<!DOCTYPE html>
<html>
<head>
    <title>RevolutionCode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Підключення необхідних скриптів -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/myjs.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <style>
        .jumbotron-transparent {
            background-color: transparent !important;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
           <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container">
                    <a class="navbar-brand text-white" href="#">RevolutionCode</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link custom-link text-white" href="#about">Про нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-link text-white" href="#services">Послуги</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link custom-link text-white" href="#contact">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <header class="jumbotron jumbotron-transparent">
                <div class="container">
                    <h1 class="display-4">Revolution Code</h1>
                    <p class="lead">Якість на рівні!</p>
                    <a id="bot1" class="btn btn-primary btn-lg link-animated" href="javascript:void(0)" onclick="openPopup()">Зв'язатись з нами</a>
                </div>
            </header>

        <section id="about" class="py-5 bg-transparent fade-in">
            <div class="container">
                <h2 class="fade-in">Про нас</h2>
                <p class="fade-in" style="font-size: 1.3rem">Ми команда розробників, яка втілить ваші бажання в світ IT. Наші фахівці готові створити якісні та функціональні рішення, що відповідають усім вимогам та потребам наших клієнтів. Частину прибутку передаємо на допомогу нашим захисникам!💪
                   <br>Звертайтеся до нас і ми з радістю допоможемо вам з реалізацією вашого проекту!</p>
            </div>
        </section>
        <section id="services" class="py-5 bg-light bg-transparent fade-in">
            <div class="container">
                <h2 class="fade-in">Послуги</h2>
                <div id="service-carousel" class="row carousel slide" data-ride="carousel" data-interval="4000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-md-4 mx-auto">
                                <div class="card">
                                    <div class="card-body bg-transparent">
                                        <h5 class="card-title">Web-розробка</h5>
                                        <p class="card-text">Ми розробляємо функціональні рішення під різні напрямки. Ми можемо створити веб-додатки, сайти, лендінги та інші веб-рішення, що відповідають вашим потребам і вимогам.</p>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4 mx-auto">
                                <div class="card">
                                    <div class="card-body bg-transparent">
                                        <h5 class="card-title">Telegram-розробка</h5>
                                        <p class="card-text">Ми спеціалізуємось на розробці Telegram-ботів, які є інтуїтивно зрозумілими та ефективно працюють. Також ми здійснюємо написання скриптів для автоматизації дій в Telegram.</p>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4 mx-auto">
                                <div class="card">
                                    <div class="card-body bg-transparent">
                                        <h5 class="card-title">Парсинг та автоматиція</h5>
                                        <p class="card-text">Парсинг та автоматизація? Наші експерти здатні розробити скрипти, які забезпечать автоматичне виконання рутинних завдань у браузері та здійснювати збір даних з веб-сторінок.</p>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="py-5">
            <div class="container">
                <h2>Контакти</h2>
                <p>Звяжіться з нами для отримання додаткової інформації.</p>
                <div id="alert" class="alert alert-success" style="display: none;"></div>
                <form>
                    <div class="form-group">
                        <label for="name">Ім'я</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Введіть Ваше Ім'я">
                    </div>
{#                    <div class="form-group">#}
{#                        <label for="email">Email</label>#}
{#                        <input type="email" class="form-control" id="email" name="email" placeholder="Введіть email">#}
{#                    </div>#}
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Введіть номер телефона">
                    </div>
                    <div class="form-group">
                        <label for="message">Введіть, що необхідно зробити:</label>
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Введіть Ваше повідомлення"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-animated" onclick="submitForm()">Відправити</button>
                </form>
            </div>
        </section>
        <footer class="py-4 bg-dark text-white text-center bg-transparent fade-in">
            <div class="container">
                &copy; 2023 RevolutionCode.
            </div>
        </footer>
        <p class="visit">Количество посещений: {{ visits }}</p>
    </div>
    <div class="popup-overlay" id="popup">
    <div class="popup-content">
        <h3>Форма связи</h3>
        <form id="popup-form">
            <div class="form-group">
                <label for="popup-name">Ім'я</label>
                <input type="text" class="form-control" id="popup-name" name="popup-name" placeholder="Введіть Ваше Ім'я">
            </div>
{#            <div class="form-group">#}
{#                <label for="popup-email">Email</label>#}
{#                <input type="email" class="form-control" id="popup-email" name="popup-email" placeholder="Введіть email">#}
{#            </div>#}
            <div class="form-group">
                <label for="popup-phone">Телефон</label>
                <input type="tel" class="form-control" id="popup-phone" name="popup-phone" placeholder="Введіть номер телефона">
            </div>
            <div class="form-group">
                <label for="popup-message">Введіть, що необхідно зробити:</label>
                <textarea class="form-control" id="popup-message" name="popup-message" rows="5" placeholder="Введіть Ваше повідомлення"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-animated" onclick="submitPopupForm()">Відправити</button>
        </form>
        <button class="close" onclick="closePopup()">&times;</button>
    </div>
</div>


</body>
</html>
